<!DOCTYPE html>
    <html lang="">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta property="og:title" content="">
        <meta property="og:type" content="website" />
        <meta property="og:image" content="">
        <meta property="og:description" content="" />
        <link rel="icon" href="/favicon.ico">
        <!-- to import the static files outside the bundle -->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/lib/normalize-8.0.1.css">
        <!--<script src="./js/lib/libname.min.js"></script>-->
        <title>Title</title>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>